body {
    margin: 0;
    padding: 0;
    background-color: #050210;
}

.Box-1 {
width: 350px;
height: 350px;
margin: 0 auto;   
border-radius: 100%;
background:linear-gradient(#fb5dad,  #55fb9f, #b97aff);
position: relative;
top: 220px;
animation-name: moja-animacija;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
z-index: 2;
}

.Box-1::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 100%;
    background-color: #050210;
    top: 25px;
    left: 25px;
}

.Box-1::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background-color:#0e062c;
    border-radius: 50%;
    left: 25px;
    top: 25px;
    animation-name: rast;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
    z-index: 3;
}

.Box-2 {
width: 360px;
height: 360px;
border-radius: 100%;
background:linear-gradient(#fb5dad,  #55fb9f, #b97aff);
margin: 0 auto;
top: -135px;
z-index: 1;
position: relative;
animation-name: moja-animacija;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
filter: blur(20px);
}

@keyframes moja-animacija {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }
}

@keyframes rast {
    0% {
        transform: scale(0);
      }
      90% {
        opacity: 0.5;
      }
      95% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        transform: scale(1);
      }
}
